.wrapper {
  margin-right: auto;
  margin-left:  auto;
  height: 100%;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("S:\react\weather app-without hooks\weather-app-hooks") no-repeat;
}
